@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;

        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;

        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;

        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;

        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;

        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;

        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;

        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 73.7% 41.8%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl
}

h1.mt {
    @apply mt-8 sm:mt-14
}

h2 {
    @apply scroll-m-20 pb-2 text-3xl font-semibold tracking-tight first:mt-0
}

h2.mt {
    @apply mt-6 sm:mt-12
}

h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight
}

h3.mt {
    @apply mt-4 sm:mt-10
}

h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight
}

h4.mt {
    @apply mt-2 sm:mt-8
}

p {
    @apply leading-7
}

p.mt {
    @apply mt-1 sm:mt-6
}

.mt {
    @apply mt-8 sm:mt-14
}

.mt-sm {
    @apply mt-6
}

blockquote {
    @apply mt-6 border-l-2 pl-6 italic
}

tr {
    @apply m-0 border-t p-0 even:bg-muted
}

th {
    @apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right
}

li {
    @apply my-6 ml-6 list-disc [&>li]:mt-2
}

code {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold
}

p.large {
    @apply text-xl text-muted-foreground
}

small {
    @apply text-sm font-medium leading-none
}

.muted {
    @apply text-muted-foreground
}

.formContent {
    @apply grid w-full items-center gap-4
}

.formItem {
    @apply flex flex-col space-y-1.5
}

table tr:nth-child(even) {
    @apply bg-background
}

table tr:nth-child(odd) {
    @apply bg-background
}

/* Remove arrows in WebKit browsers */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove arrows in Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Remove arrows in Internet Explorer and Edge */
input[type=number]::-ms-clear,
input[type=number]::-ms-reveal {
    display: none;
}